<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">Discover Indiana</h1>
        <h2 class="text-center lato animate slideInDown">Explore Indiana<b> Without</b> Boundaries</h2>
        <p class="text-center">
            <br>
            <a href="#" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Lets Get Started</a>
        </p>
    </div>
    <a href="#section2">
		<div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
		</div>
        </a>
</section>

<section class="container-fluid" id="section2">
    <div class="container center">
        <div class="row">
          <div id="floating-panel">
     <b>Start: </b>
     <select id="start" onchange="calcRoute();">
       <option value="fishers, in">Fishers</option>
     </select>
     <b>End: </b>
     <select id="end" onchange="calcRoute();">
       <% @destinations.each do |dest| %>
       <option value="<%= dest.location %>"><%= dest.site %></option>
       <% end %>
     </select>
     </div>
     <div id="map"></div>
        </div>
        <!--/row-->
        <div class="row">
            <br>
        </div>
    </div>
    <!--/container-->
</section>

<section class>
    <div class="container">
      <%@destinations.each_slice(4) do |destination_array|%>
        <div class="row">
          <% destination_array.each do |destination| %>
            <div class="col-sm-3 col-xs-3">
              <div class="text-center">
                <%= link_to(image_tag(destination.picture_url, class: "img-thumbnail"), destination.website_url, target: "blank") %>
                    <h3 class="text-center"></h3>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
        <!--/row-->
    </div>
</section>
