<!-- <section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">UncoverIndiana</h1>
        <h2 class="text-center lato animate slideInDown">Discovering Indiana's<b> Unique</b> Outdoors</h2>
        <p class="text-center">
            <br>
            <a href="#" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Lets Get Started</a>
        </p>
    </div>
    <a href="#section2">
  		<div class="scroll-down bounceInDown animated">
        <span>
            <i class="fa fa-angle-down fa-2x"></i>
        </span>
  		</div>
    </a>
</section> -->
<div class="google-map-canvas" id="maparea">
  HELoooooooooooooooo
</div>

<!-- <section class="container-fluid" id="section2">
    <div class="container v-center">
        <div class="row">
          <div class="col-xs-12 map">

            <div class="google-map-canvas" id="maparea">
              HELoooooooooooooooo
            </div>
          </div>
        </div> -->
        <!--/row-->
        <!-- <div class="row">
            <br>
        </div>
    </div> -->
    <!--/container -->
</section>
