<!DOCTYPE html>
<html>
<head>
  <title>SocrataChallenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
 -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  #map {
    width: 1024px;
    height: 800px;
    background-color: #CCC;
  }
  </style>

</head>
<!-- <body>
  <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-danger" href="#">UncoverIndiana</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapsible">
          <ul class="nav navbar-nav navbar-left">
              <li><a href="#section1">Start</a></li>
              <li><a href="#section2">Next</a></li>
              <li><a href="#section3">Then</a></li>
              <li><a href="#section4">Form</a></li>
              <li><a href="#section5">More</a></li>
              <li><a href="#section6">Last</a></li>
              <li>&nbsp;</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-heart-o fa-lg"></i></a></li>
          </ul>
      </div>
  </div>
</nav> -->

<%= yield %>


<script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
      }
      google.maps.event.addDomListener (window, 'load', initialize);
    </script>



</body>
</html>
